/Client.class
/Game.class
/Message$ErrorMessage.class
/Message$Login.class
/Message$MessageTypes.class
/Message$OkMessage.class
/Message$Play.class
/Message.class
/Server$1.class
/Server$2.class
/Server.class
/Message$OkLogin.class
